<section>
    <div class="transaction-table-header">
      <table>
        <thead>
          <tr class="transaction-table-title">
            <th>
                Título
            </th>
            <th>
                Descrição
            </th>
            <th>
                Status
            </th>
            <th>
                Valor
            </th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="transaction-table-content">
      <table>
        <tbody>
            <tr *ngFor="let transaction of this.transactions" [ngClass]="{'processed-text': transaction.status === 'processed', 'processing-text' : transaction.status === 'processing' , 'created-text' : transaction.status === 'created'}">
                <td>
                    {{transaction.title}}
                </td>
                <td>
                    {{transaction.description}}
                </td>       
                <td>
                    {{transaction.status}}
                </td>       
                <td>
                    {{transaction.amount}}
                </td>       
            </tr>
        </tbody>
      </table>
    </div>
  </section>        