<app-transaction-filter></app-transaction-filter>

<section>
  <div class="transaction-table-header">
    <table>
      <thead>
        <tr class="transaction-table-title">
          <th>
            Título
          </th>
          <th>
            Descrição
          </th>
          <th>
            Status
          </th>
          <th>
            Valor
          </th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="transaction-table-content">
    <table id="transaction-table">
      <tbody>
        <tr *ngFor="let transaction of transactions" (click)="getTransactionDetails(transaction.id)"
          [ngClass]="{'processed-text': transaction.status === 'processed', 'processing-text' : transaction.status === 'processing' , 'created-text' : transaction.status === 'created'}">
          <td>
            {{transaction.title}}
          </td>
          <td>
            {{transaction.description}}
          </td>
          <td>
            {{transaction.status}}
          </td>
          <td>
            R$ {{transaction.amount}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<app-transaction-details id="modal">
  <img class="close-btn" src="../../../assets/imgs/icons/close.svg" (click)="closeModal('modal')">
  <h1>{{transactionDetail.title}}</h1>

  <div class="step">
    <div class="circle__step-name">
      <div class="step-name">Solicitado</div>
      <div class="step-name">Processando</div>
      <div class="step-name">Concuído</div>
    </div>
    <div class="circle-wrapper">
      <div id="step1" class="circle" data-attr="1"></div>
      <div id="step2" class="circle" data-attr="2"></div>
      <div id="step3" class="circle" data-attr="3"></div>
    </div>
  </div>

  <div class="transaction-data">
    <div>
      <div class="transaction-label">
        <h4 *ngIf="transactionDetail.status != 'processed'">Transferindo de</h4>
        <h4 *ngIf="transactionDetail.status == 'processed'">Transferido de</h4>
      </div>
      <hr/>
      <div class="transaction-value">
        <p>{{transactionDetail.from}}</p>
        <p>R$ {{transactionDetail.amount}}</p>
      </div>
    </div>

    <div>
      <div class="transaction-label">
        <h4>Para</h4>
      </div>
      <hr/>
      <div class="transaction-value">
        <p>{{transactionDetail.to}}</p>
        <p>R$ {{transactionDetail.amount}}</p>
      </div>
    </div>
  </div>

</app-transaction-details>