@import url("../../../assets/variables/variables.less");

.nav-bar {
  background-color: @warren-secondary;
  align-items: center;
  width: 100%;
  display: flex;
  height: 65px;
  box-shadow: 0px 0px 10px #3a3941;
  margin: auto;
  margin-bottom: 110px;
  padding: 0px 30px;
  position: fixed;
  top: 0;
  justify-content: center !important;
  z-index: 1;

  ul {
    list-style: none;
  }

  li .logo {
    height: 40px;
  }

  li.country {
    position: absolute;
    left: 12px;
    top: 8px;

    .dropdown {
      position: absolute;
      display: inline-block;

      .img-dropdown {
        position: absolute;
        top: 6px;
        height: 35px;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        min-width: 91px;
        box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
        z-index: 1;
        height: 35px;
        border-radius: 8px;
        top: 6px;

        .img-option-dropdown {
          position: absolute;
          top: -8px;
          height: 50px;
          left: 45px;
          cursor: pointer;
        }
      }
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
  }
}

@media @mobile {
  .nav-bar {
    margin-bottom: 80px;
  }
}
