//Variáveis com cores padrão da Warren Brasil
@warren-primary: #fff;

@warren-secondary: #e02b57;
@warren-secondary-light: #E3E4EB;

@warren-third: #2f2f33; 
@warren-third-light: rgba(255, 255, 255, 0.1);

@warren-yellow: #FFA425;

@warren-blue: #258EFF;