//Variáveis com cores padrão da Warren Brasil
@warren-primary: #fff;
@warren-primary-light: #e3e4eb;

@warren-secondary: #e02b57;

@warren-third: #2e2d33;
@warren-third-light: rgb(242 242 242);

@warren-yellow: #ffa425;

@warren-blue: #258eff;

@warren-green: #076e31;
