@import url("../../../assets/variables/variables.less");

.filter-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
}

.filter-option {
  margin-right: 20px;
}

.filter-text {
  margin-top: 20px;
}

.filter-label {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  font-size: 1.2rem;
  margin-top: 100px;
}

select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  flex: 1;
  background: #2e2d33;
  padding: 0 0.5em;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

select:hover {
  background: #2e2d33;
  border-radius: 8px;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 10em;
  height: 3em;
  line-height: 3;
  border-radius: 8px;
  border: 0;
  background: #2e2d33;
  border: 2px solid transparent;
  color: white;
  box-shadow: 0px 0px 10px #3a3941;
}

.select:hover {
  border-radius: 8px;
  background: #2e2d33;
  color: white;
  border-bottom: 0;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

option {
  border-radius: 8px;
  background: #2e2d33;
  color: white;
  padding: 10px;
  font-size: 0.8rem;
}

.input {
  border: 0;
  outline: none;
  border-bottom: 2px solid #2e2d33;
  padding-left: 10px;
  font-size: 1rem;
  margin-top: 20px;
  width: 10em;
  padding-bottom: 10px;
  font-weight: 600; 
  color: #2e2d33;
}

.btn {
  border-radius: 8px;
  outline: none;
  border: none;
  color: white;
  padding: 15px;
  font-weight: 600;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0px 0px 10px #3a3941;
  margin-right: 20px;
}

.btn-search {
  background: #2e2d33;
}

.btn-search:hover {
  border: 2px solid #363539;
  color: white;
  background: #363539;
}

.btn-clean {
  color: #545454;
  background: #f1f1f1;
}

.btn-clean:hover {
  border: 2px solid #f6f6f6;
  background: #f6f6f6;
}

.icon-navbar {
  position: fixed;
  top: 14px;
  height: 35px;
  cursor: pointer;
  z-index: 2;
}

.icon-filter {
  left: calc(100% - 120px);
}

.icon-reload {
  right: 10px;
}

.filter-container {
  display: flex;
  flex-direction: column;
}

@media @mobile {
  .btn {
    padding: 10px;
    height: 50px;
    margin: 10px 20px;
  }

  .filter-body {
    display: flex;
    margin-top: 0px;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
  }

  .filter-content {
    display: flex;
    margin: 10px 20px;
    justify-content: center;
  }

  .filter-option {
    margin-right: 10px;
  }

  .filter-text {
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 0px;
  }

  .filter-label {
    margin-top: 80px;
    margin-bottom: 10px;
  }

  .input {
    padding-bottom: 0px;
  }

  .icon-filter {
    left: calc(100% - 93px);
  }
}
